

/*
What is this component?
*/
Vue.component('preference-form', {
  props: {
    branding: Object,
    preferenceOptions: Object,
    channels: Array,
    channelSelection: String,
    formSubmitting: Boolean,
    subscriberPreferences: Array
  },
  beforeMount() {

    this.setFormInputSchema();
    this.setProfileFormSchema();
    this.setPreferenceFormSchema();
    this.setSubscriptionFormSchema();

    this.setFormInputValues('preferences')
    this.setFormInputValues('subscriptions')
  },
  data() {
    return {
      profileFormSchema: [],
      preferenceFormSchema: [],
      subscriptionFormSchema: [],
      formInputs: {}
    }
  },
  methods: {
    submitPreferenceForm() {
      const channels = this.channels;
      let emit = this.formInputs
      emit.profile.hasUpdatedValues = this.checkForUpdatedValues(emit.profile, this.channelPreferences)

      for (const c in channels) {
        const channel = channels[c];
        const channelPreferences = this.setChannelPreferences(channel);
        const subscriptions = channelPreferences.subscriptions.split("|")

        emit[channel]['preferences']['hasUpdatedValues'] = this.checkForUpdatedValues(emit[channel]['preferences'], channelPreferences)

        emit[channel]['subscriptions']['hasUpdatedValues'] = this.checkForUpdatedValues(emit[channel]['subscriptions'].subscriptions, subscriptions)
      }

      this.$emit('submit-preference-form', emit)
    },
    checkForUpdatedValues(updateObject, existingObject) {
      
      for (const u in updateObject) {
        const updatedProfileValue = updateObject[u];
        const existingProfileValue = existingObject[u];

        if(u !== 'hasUpdatedValues'){
          if (updatedProfileValue !== existingProfileValue) {
            return true;
          }
        }
      }

      return false;
    },
    setProfileFormSchema() {
      let profileSchema = [
        {
          "component": "h2",
          "children": `${this.preferenceOptions['profile']['headline']}`
        },
        {
          "component": "p",
          "children": `${this.preferenceOptions['profile']['copy']}`
        }
      ]

      if (
        Object.prototype.hasOwnProperty.call(this.preferenceOptions.profile, 'inputs')
      ) {
        const profileData = this.preferenceOptions.profile.inputs;

        for (const pro in profileData) {
          let inputObject = profileData[pro];
          this.formInputs['profile'][inputObject.name] = this.channelPreferences[inputObject.name];

          profileSchema.push(inputObject)
        }
      }

      this.profileFormSchema = profileSchema
    },
    setPreferenceFormSchema() {
      let preferenceSchema = [
        {
          "component": "h2",
          "children": `${this.preferenceChannelConfiguration['preferences']['headline']}`
        },
        {
          "component": "p",
          "children": `${this.preferenceChannelConfiguration['preferences']['copy']}`
        }
      ]

      if (
        Object.prototype.hasOwnProperty.call(this.preferenceChannelConfiguration['preferences'], 'radios')
      ) {
        preferenceSchema.push({
          "name": "preference",
          "type": "radio",
          "options": this.preferenceChannelConfiguration['preferences']['radios']
        })
      }

      this.preferenceFormSchema = preferenceSchema
    },
    setSubscriptionFormSchema() {
      let subscriptionSchema = [
        {
          "component": "h2",
          "children": `${this.preferenceChannelConfiguration['subscriptions']['headline']}`
        },
        {
          "component": "p",
          "children": `${this.preferenceChannelConfiguration['subscriptions']['copy']}`
        }
      ]

      if (!Object.prototype.hasOwnProperty.call(this.formInputs[channelSelection], 'subscriptions')) {
        this.formInputs[channelSelection]['subscriptions'] = {};
      }


      if (
        Object.prototype.hasOwnProperty.call(this.preferenceChannelConfiguration['subscriptions'], 'checkboxes')
      ) {
        subscriptionSchema.push({
          "name": "subscriptions",
          "type": "checkbox",
          "options": this.preferenceChannelConfiguration['subscriptions']['checkboxes']
        })
      }

      this.subscriptionFormSchema = subscriptionSchema
    },
    setFormInputSchema() {
      this.formInputs = {
        profile: {}
      };

      this.channels.forEach(channel => {
        this.formInputs[channel] = {}
      })
    },
    setFormInputValues(objectKey) {
      const channels = this.channels;

      for (const c in channels) {
        switch (objectKey) {
          case 'preferences':
            if (!Object.prototype.hasOwnProperty.call(this.formInputs[channels[c]], 'preferences')) {
              this.formInputs[channels[c]]['preferences'] = {};
            }

            this.formInputs[channels[c]]['preferences']['preference'] = this.setChannelPreferences(channels[c])['preference'];
            break;
          case 'subscriptions':
            if (!Object.prototype.hasOwnProperty.call(this.formInputs[channels[c]], 'subscriptions')) {
              this.formInputs[channels[c]]['subscriptions'] = {};
            }

            this.formInputs[channels[c]]['subscriptions']['subscriptions'] = this.setChannelPreferences(channels[c])['subscriptions'].split("|") || [];
            break;
        }
      }

    },
    setChannelPreferences(channel) {
      return this.subscriberPreferences.find((pref) => pref.channel === channel)
    }
  },
  watch: {
    channelSelection: function (newVal, oldVal) {
      this.setProfileFormSchema();
      this.setPreferenceFormSchema();
      this.setSubscriptionFormSchema();
    }
  },
  computed: {
    preferenceChannelConfiguration() {
      if (this.channelSelection) {
        return this.preferenceOptions['channels'][this.channelSelection]
      }
    },
    channelPreferences() {
      if (this.channelSelection) {
        return this.subscriberPreferences.find((pref) => pref.channel === this.channelSelection)
      }
    },
  },
  template: `
<section>
  <v-row class="flex">
    <v-col cols="12" class="justify-center">
      <div v-show="preferenceOptions.profile.inputs">
        <formulate-form :values="formInputs['profile']" v-model="formInputs['profile']" :schema="profileFormSchema" />
      </div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12" md="8">
      <v-divider class="my-5"></v-divider>
    </v-col>
  </v-row>

  <v-row class="flex">
    <v-col cols="12" md="4" class="mb-xs-4 mb-md-0">
      <div v-show="channelSelection">
        <formulate-form :values="formInputs[channelSelection]['preferences']" v-model="formInputs[channelSelection]['preferences']" :schema="preferenceFormSchema" />
      </div>
    </v-col>
    <v-col cols="12" md="4">
      <div v-show="channelSelection">
        <formulate-form :values="formInputs[channelSelection]['subscriptions']" v-model="formInputs[channelSelection]['subscriptions']" :schema="subscriptionFormSchema" />
      </div>
    </v-col>
  </v-row>

  <v-row>
    <v-col cols="12" md="8">
      <v-btn class="ma-2" :loading="formSubmitting" :disabled="formSubmitting" color="info" @click="submitPreferenceForm">
        Submit Updates
        <template v-slot:loader>
          <span class="custom-loader">
            <v-icon light>mdi-cached</v-icon>
          </span>
        </template>
      </v-btn>
    </v-col>
  </v-row>
</section>
`
})